/*#components-form-demo-normal-login .login-form {*/
/*    width: 100px;*/
/*}*/
/*#components-form-demo-normal-login .login-form-forgot {*/
/*    float: right;*/
/*}*/
/*#components-form-demo-normal-login .login-form-button {*/
/*    !*width: 100%;*!*/
/*}*/

.ant-form.login-form,
.login-form{
    width: 50%;
    height: 300px;
    /*margin: 0 auto;*/
    margin-left: 100px;
}

.login-text{
    float: left;
}