/*#components-form-demo-normal-login .login-form {*/
/*    width: 100px;*/
/*}*/
/*#components-form-demo-normal-login .login-form-forgot {*/
/*    float: right;*/
/*}*/
/*#components-form-demo-normal-login .login-form-button {*/
/*    !*width: 100%;*!*/
/*}*/

/* .ant-form.login-form,
.login-form {
  width: 50%;
  height: 300px;
  margin-left: 100px;
} */

.login-text {
  font-family: "Open Sans Condensed";
  font-size: 30px;
  font-weight: 900;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 250px;
  float: left;
  margin-left: 50px;
}
.login-form.ant-form-item {
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
}
