.post-card {
  margin: auto;
}

.post-image {
  width: 100%;
  margin-top: 10px;
}

#post_avatar {
  text-align: left;
}

.post_comments {
  display: flex;
  align-items: center;
  justify-content: left;
}